/* ==UserStyle==
@name               Subtitle Optimization for bilibili
@name:zh-CN         优化哔哩哔哩外挂字幕显示
@namespace          github.com/openstyles/stylus
@version            1.0.3
@description        Optimize the subtitles in bilibili.com
@description:zh-CN  优化 bilibili.com 的外挂字幕显示
@author             Jiachen Chen
==/UserStyle== */
@-moz-document domain("bilibili.com") {
    .subtitle-item-text {
        background-color: rgba(0, 0, 0, 0) !important;
        padding: 0px !important;
        font-family: -apple-system, BlinkMacSystemFont, "Noto Sans",
            "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial,
            "Liberation Sans", "PingFang SC", "Hiragino Sans GB",
            "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN",
            "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei",
            "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif !important;
    }
    
    .squirtle-subtitle-item-text {
        font-size: 2.5vw !important;
        background-color: rgba(0, 0, 0, 0) !important;
        padding: 0px !important;
        font-family: -apple-system, BlinkMacSystemFont, "Noto Sans",
            "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial,
            "Liberation Sans", "PingFang SC", "Hiragino Sans GB",
            "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN",
            "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei",
            "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif !important;
    }

    .bilibili-player-video-subtitle {
        text-shadow: black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px,
            black 0px 0px 4px, black 0px 0px 4px !important;
    }
    
    .squirtle-subtitle-group {
        text-shadow: black 0px 0px 4px, black 0px 0px 4px, black 0px 0px 4px,
            black 0px 0px 4px, black 0px 0px 4px !important;
    }

    .subtitle-position.subtitle-position-bc {
        bottom: 10% !important;
    }
    
    .squirtle-subtitle-position {
        bottom: 100px !important;
    }
}
